
#delhi{
  /* background-image: linear-gradient(yellowgreen 10px,green 30%,#0faab8 100%);
  margin-right: 20px;
  border-radius: 20px; */
  /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    /* margin: 0 10px; */
    border: 1px solid #eee;
     padding: 15px; 
    border-radius: 10px;
    background: rgba(200, 43, 43, 0.2);
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
.form-control{
  margin-top: 20px;
  border-radius: 20px;
  
}
.btn {
  margin-top: 20px;
  color: #ffffff;
}

#current-btn {
  position: relative;
  left: 40px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  color: black;
  
    
}

.btn-info {
  background-image: linear-gradient(#0faab8 50%,yellowgreen 50%);

}

.btn-info:hover {
  background-color: #0faab8;
  border-color: #ff719a;
}
.city-form {
  margin: 0 auto;
}
.date {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  font-size: 20px;
  display:inline-block;
}
.degrees {
  display: inline;
  font-size: medium;
  position: relative;
  top: -40px;
  left: 10px;
}
#fahrenheit-link {
  text-decoration: none;
  color: rgb(42, 35, 35);
}

#celsius-link {
  text-decoration: none;
  color: rgb(30, 28, 28);
}
.current-day {
  width: 125px;
  padding-top: 30px;
  position: relative;
  left: 30px;
}
.current-city {
  margin-top: 20px;
  color: rgb(233, 222, 222);
  font-family: "Montserrat Alternates", sans-serif;
}
.current-temp {
  display: inline;
  font-size: 60px;
  position: relative;
  top: -20px;
}
h1 {
  font-size: 24px;
}

h6 {
  text-transform: uppercase;
}
.current-stats {
  position: relative;
  top: 60px;
  left: 70px;
  font-size: 20px;
}

.small-icons {
  width: 15px;
  padding: 10px 0px;
  position: relative;
  left: -10px;
}
.location {
  display:inline;
}
.location-pin {
  width: 15px;
  position: relative;
  bottom: 5px;
}
p {
  color: rgb(6, 18, 245);
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: lighter;
  /* display: inline; */
  display:grid;
}
.days {
  margin-top: 20px;
  color: rgb(17, 16, 16);
  font-family: "Montserrat Alternates", sans-serif;
  text-align: center;
}
.the-week {
  background-image: linear-gradient(
    -225deg,
    #ffe29f 0%,
    #ffa99f 48%,
    #ff719a 100%
  );
  border-radius: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
}
.day-icons {
  width: 60px;
  text-align: center;
}

.max-temp {
  font-weight: bolder;
}

/* footer {
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ff719a; 
}*/
.icon-attributions {
  color: gray;
  font-size: 10px;
}
